body {
    margin: 0;
}
div {
    width: 200px;
    height: 200px;
    background-color: #e5989b;
}
span {
    margin-left: 30px;
    margin-top: 30px;
}

h1 {
    background-color: pink;
    width: 200px;
    padding-left: 30px;
    padding-top: 50px;
    margin-bottom: 0;
}

#one {
    background-color: #ffcad4;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #fb6f92;
    border-color: #ffcdb2;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 8px;
    margin: 200px;
}

#three {
    background-color: #9d8189;
    border: 4px solid black;   /*shortfor -> border-width, style, color */
    border-left-style: dotted;
    border-radius: 10px;    /*IN Percentage form -> 25% 10%,   IN Percentage form -> 50%,   IN PX form -> 10px*/
}

 button {
    padding: 10px 20px 30px;
}

/* 
 Apply to all four sides :->  padding:10px;
 Vertical | horizontal  :->  padding:5px 10px;
 top | horizontal | bottom  :-> padding:1px 2px 2px;
 top | right | bottom | left :-> pading: 5px 1px 0 2px;
*/