body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#Container {
    background-color: #022131;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row; */
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    justify-content: center;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
    /* align-items: flex-end; */
    align-items: flex-start;
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-items: flex-end; */
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap-reverse;


}

#Container div {
    width: 800px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}