h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}
h1:nth-of-type(3n) {
    background-color: #f4a261;
}
h1:nth-of-type(4n) {
    background-color: #e76f51;
}
h1:nth-of-type(5n) {
    background-color: #a24f1e;
}
h1:nth-of-type(6n) {
    background-color: #d8510d;
}
h1:nth-of-type(7n) {
    background-color: #ebc35d;
}
h1:nth-of-type(8n) {
    background-color: #db1313;
}